@import url('http://fonts.cdnfonts.com/css/arcade');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Arcade Rounded', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
  background-color: black;
  font-size: 100px;
  justify-content: space-evenly;
}

:root {
  --primary-color: #4ae742;
}

textarea {
  border: 8px solid var(--primary-color);
  width: 100%;
  min-width: 100%;
  box-sizing: border-box;
  display: block;
  font-size: 80px;
  background-color: black;
  color: var(--primary-color);
  outline: none;
  font-family: 'Arcade Normal', sans-serif;
  height: 35%;
}

textarea::placeholder {
  color: yellow;
}

#buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

button#convert,
button#clear {
  width: 49%;
  color: white;
  cursor: pointer;
  border: 8px solid var(--primary-color);
  background-color: black;
  font-size: 50px;
  outline: none;
  font-family: 'Arcade Normal', sans-serif;
  min-height: 200px;
}

button#convert:active,
button#clear:active {
  outline: none;
  transform: scale(0.98);
}

@media (max-width: 780px) {
  body > *,
  button#convert,
  button#clear {
    font-size: 40px;
  }
  #buttons {
    flex-flow: column;
  }
  button#convert,
  button#clear {
    width: 100%;
  }
}
